body 
{
    background-image: url(https://surrealeverything.github.io/Adventure-Time-Time/background.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
header>img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    /* transition: width 10s, height 10s;
}
header>img:hover 
{
    width: 101%;
    height: 101%;
}*/
#navbar ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: DarkOrchid;*/
    background-image: url(https://surrealeverything.github.io/Adventure-Time-Time/f1u2cck.jpg);
}
#navbar{z-index: 500;}
#navbar ul>li{float: left}
#navbar ul>li>a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar ul>li>a:hover {background-color: coral;}
#navbar 
{
    position: sticky;
    border: 6px solid Coral;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
    top: 0;
}   
#map img
{
    border: 5px solid coral ;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#map h1
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    color: white;
}
#games 
{
    text-align: center;
    color: white;
}
#games h1
{text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
#games ul
{
    margin: auto;
    margin-bottom: 30px; 
    padding: 0;
    width: 250px;
    position: relative;
    list-style-type: none;
}
#games a
{
    z-index: -500
}
iframe
{
    border: 5px solid Coral ;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: coral;
}
#videos h1
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    color: white;
}
#gallery h1
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    color: white;
}
video
{       
    border: 5px solid Coral ;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
    display: block;
    margin-left: auto;
    margin-right: auto 
}
footer
{ 
    text-align: center;
    color: white;
    /*position: static;*/
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    /*padding: 0;*/
    width: 500px;
    background-image: url(https://surrealeverything.github.io/Adventure-Time-Time/Background2.jpg);
    background: coral;
    border: 5px solid coral;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
}
#text
{
    float: left;
    margin: 0 1.4%;
    width: 63%;
}
#text h1{color: white;text-align: center;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
#text section
{
    /*background: MistyRose;*/
    background: linear-gradient(MistyRose, LightPink);
    border: 5px solid linear-gradient(MistyRose, LightPink);
    opacity: 0.85;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
    margin: 5%;
}
#ratings img
{
    width: 50%;
    height: auto;
}
#text p
{   
  padding: 0;
  text-indent: 2%;
}
aside
{
    float: right;
    margin: 62.5% 0.3%;     
    /*position: fixed;*/
}
.jake
{
    float: right;
    margin: 0% 0.3%;
}
/*.infobox{border: 5px solid Coral ;}*/
/*.infobox tr th
{
    text-align:center;
    font-size:125%; 
    padding: 0.25em 1em;
    line-height: 1.5em;
}*/
.infobox img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.infobox
{
    font: Lucida Bright, Georgia, serif;
    background: linear-gradient(MistyRose, LightPink);
    border: 5px solid linear-gradient(MistyRose, LightPink);
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
}
.infobox th, td
{
    border: 1px solid coral;
    border-radius: 10px;
}
.infobox tr:nth-child(even) 
{
    background-color: mistyrose;
}
.infobox tr:nth-child(odd) 
{
    background-color: lightpink;
}
p
{
    word-spacing: 5%;
    font: 15px Lucida Bright, Georgia, serif;
    margin: 2%;
}
h1{font: 2em Lucida Bright, Georgia, serif;}
#text span
{
    color: white;
    background: red;
    border-radius: 10px;
    transition: font-size 6s;
    transition-timing-function: ease-in-out;
}
#text span:hover{font-size:400%;}
#text h3
{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: coral;
    border: 5px solid coral;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
}
#text h5
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: inline-block;
    padding: "0";
    margin-left: 1.3%;
    color: white;
    background: coral;
    border: 5px solid coral;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);  
}
#text table
{
    margin: auto;
}
#animate
{
    position: fixed;
    animation-name: rotation;
    animation-duration: 8s;
    animation-timing-function: linear;
    /*animation-delay: 2s;*/         
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/
}
@keyframes rotation
{
    0%   {left:0px; top:0px; transform: rotate(0deg);}
    25%  {left:1800x; top:0px; transform: rotate(90deg);}
    50%  {left:1800px; top:400px; transform: rotate(180deg);}
    75%  {left:0px; top:400px; transform: rotate(270deg);}
    100% {left:0px; top:0px; transform: rotate(360deg);}
}
figure img{
	width: 98%;
	height: auto;
	margin: 1%;
}
figure
{
	float: left;
	width: 40%;
    height: auto;
    background: coral;
    border: 0.3vw solid coral;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
}
figcaption
{
    text-align:center;
    word-spacing: 5%;
    font: 15px Lucida Bright, Georgia, serif;
    margin: 2%;
    color: white;
}
#gallery figure:nth-of-type(even){transform: rotate(5deg);}
#gallery figure:nth-of-type(odd){transform: rotate(-5deg);}
#games nav ul li ul
{
    visibility: hidden;
    position:absolute; 
    margin:0; 
    padding:0;
    background: coral;
    border: 5px solid coral;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
}
#games nav ul li:hover ul{visibility: visible;}
#games nav>ul>li
{
    display: inline-block;
    vertical-align: top; 
    position: relative;
}
#games nav ul{list-style-type: none;}
@media only screen and (max-width: 1000px) 
{
    header>img 
    {
        width: 50%;
        height: 50%;
    }
}
#Home_media{column-count: 2;}
#External_Links{flex: 1;}
#External_Links ul{display: flex;flex-direction: column;}
